.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
}
.profile {
  margin: 100px auto 100px auto;
}
.profile-p{
    width: 30%;
    margin: auto;
}
.middle-container{

}
.bottom-container {
font-family: 'Montserrat', sans-serif;
background-color: #66bfbf;
padding: 10px 0 20px;
}

.bottom-cloud {
  position:absolute;
  bottom: 300px;
  left: 300px;

}

.top-cloud {
  position:absolute;
  right: 300px;
  top: 50px;
}

.contact-me {
  margin: 100px auto 100px auto;
  font-family: 'Montserrat', sans-serif;
}
.profile-images {
  width: 250px;
  height: 250px;
  margin: 70px auto auto auto;
}
.skills{
  margin: 100px auto 100px auto;
}
.skill-row  {
  display: inline-block;
  width: 50%;
  margin: 30px auto 30px auto;
  text-align: left;

}

.pc-images {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.thinking-img {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me-p {
  color: #40514E;
  width: 40%;
  margin: auto;
}
.button {
  margin: 100px auto 100px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #32bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #32bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #32bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #32bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #32bc4ad);
  text-decoration: none;
}

.footer-credit{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 50px auto 20px auto;
  width: 3%
}
h1{

  font-size: 5.652rem;
  margin: 50px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}
p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
